<!DOCTYPE html>
<html>
<head>
	<title>Battle's Home</title>
	<script type="text/javascript" src="./node_modules/bootstrap/css/"></script>
	<link rel="stylesheet" type="text/css" href="/style/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/style/bootstrap/custom.css">
</head>
<body>
	<h1>Hello</h1>
	<div class="container-fluid">
		<div class="col-md-4">
			<div class="row">
				This is the left panel
			</div>
		</div>
		<div class="col-md-8">
			<div class="row">
				This is the right panel
				
			</div>
		</div>
	</div>
</body>
</html>